// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
[href],
[type="button"],
[type="submit"],
button {
  cursor: pointer;  
}
.btn,
.link {
  display: inline-block;
  border: none;
  text-decoration: none;
}
.btn {
  font-family: 'Hind';
  cursor: pointer;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  text-align: center;
  
  i {
    vertical-align: text-top;
    margin: 3px 5px;
  }
}
.btn--space {
  margin: 3px; 
}
.btn--oval {
  border-radius: 26px;
  color: #868686 !important;
  border: 1px solid #E1E1E1;
  padding: 8px;
  height: 55px !important;
  background: #fdfdfd;
  font-size: 14px;
  box-shadow: 0 0 3px 0px #E1E1E1;
}
.btn--oval.disabled {
  color: #d4d0d0 !important; 
}
.btn--block {
  display: block;
  width: 100%;
}
.btn--disabled {
  pointer-events: none;
  opacity: 0.8;
}
.btn--tab {
  padding: 7px 12px;
  border: solid 1px $grey-tab-border;
  line-height: 25px !important;
  outline: none;
}
.btn--tab--active {
  background-color: $blue-dark !important;
  color: $white !important;
  border: 1px solid $blue-dark;
  position: relative;
  &:after {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid $blue-dark;
    content: " ";
    position: absolute;
    bottom: -16px;
    left: 40%;
  }
}
.btn--grunge,
.btn--grunge-indented {
  position: relative;
  padding-left: 10px;
  padding-right: 0;
  
  &:before,
  &:after {
    background: black;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 51px;
  }
  
  &:before {
    left: -32px;
  }
  
  &:after {
    right: -51px;
  }
  
}
.btn--gutter {
  margin: 0 0 0 30px;
}
.btn--full-width {
  width: 100%;
}
/*
 * Button Colors
 */
.btn--grey {
  border: 1px solid #B3B3B3;
  border-radius: 5px;
  background: #ECECEC;
  color: #656565 !important;
}
.btn--yellow {
  background-color: $yellow;
  border: 1px solid $yellow !important;
  color: #fff;
}
.btn--green {
  background-color: $green-dark;
  color: #fff;
}
.btn--blue-medium {
  background-color: $blue-medium;
  color: #fff;
}
.btn--default {
  background-color:  transparent;
  border-radius: 5px;
  border: 1px solid #A4A4A4;
  color: #656565;
}
.btn--table-style{
  background-color: #ECECEC;
  border: 1px solid #D4D4D4;
  i.fa-trash{
    font-size: 20px;
    margin: 0 0 0 -2px;
  }
}
.btn-sky-blue {
  color: #FFFFFF;
  background-color: #2E8BC0;
  border-color: #2E8BC0;
}

/*
 * Button Sizes
 */
.btn--xs {
  min-width: 105px;
}
.btn--xxs {
  min-width: 150px;
}
.btn--sm {
  min-width: 215px;
}
.btn--md {
  min-width: 250px;
}
.btn--lg {
  min-width: 285px;
}
.btn--xl {
  min-width: 315px;
}
.link--sm {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .link--sm {
    font-size: 16px;
  }
}

.next-button {
  float: right;
  .next-button__icon {
    vertical-align: top;
    line-height: 30px;
  }
}

.previous-button {
  .previous-button__icon {
    vertical-align: top;
    line-height: 30px;
  }
}

.next-button,
.previous-button {
  line-height: 40px;
}