button[disabled], input[disabled] {
  background: #f7f7f7;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input, textarea {
  border-style: none;
  border: 1px solid $grey-input-text-border;
  box-shadow: none;
}
input:not([type]),
input[type="email" i],
input[type="number" i],
input[type="password" i],
input[type="tel" i],
input[type="url" i],
input[type="text" i] {
    font-size: 18px;
    padding-left: 13px;
}
.input--icon-right {
  position: absolute;
  right: 5px;
  top: -6px;
  font-size: 20px;
  padding: 4px 8px;
  border-radius: 5px;
  color: #adadad;
}
.input--icon-left {
  position: absolute;
  left: 0;
  top: -10px;
  font-size: 25px;
  padding: 4px 8px;
  border-radius: 5px;
  color: #adadad;
}
.input--move-left{
  padding-left: 35px !important;
}
.input--text {
  height: 50px;
  margin-right: 10px;
  width: 100%;
}
.input--group {
  display: inline-block;
  vertical-align: middle;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
}
.input--group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  color: $grey-dark-medium;
  text-align: center;
  background-color: $grey-light;
  height: 50px;
  float: left;
  line-height: 40px;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}
.input--group-addon.left {
  border-left: 1px solid $grey-dark;
  border-top: 1px solid $grey-dark;
  border-bottom: 1px solid $grey-dark;
  border-radius: 4px 0 0 4px;
}
.input--group-addon.right {
  border-right: 1px solid $grey-dark;
  border-top: 1px solid $grey-dark;
  border-bottom: 1px solid $grey-dark;
  border-radius: 0 4px 4px 0;
}
.range-row-wrap .input--group-addon.left + span > input[type=text]{
  border-radius: 0 4px 4px 0;
}
.range-row-wrap .input--group .input-left input[type=text]{
  border-radius: 4px 0 0 4px;
}
.range-row-wrap{
  .span.input--icon-warp{
    padding: 0 !important;
  }
}
.label--error {
  font-size: 10pt;
  color: $red;
  font-weight: 400;
}
.input--error {
  input {
    background: #f7f3f3;
    border: 1px solid $red;
  }
  .error--icon {
    position: relative !important;
    right: 0  !important;
    top: 1px  !important;
    color: #af3030;
  }
}
.input--required {
  input {
    display: inline-flex;
  }

  .error--icon {
    position: absolute;
    right: -35px;
    top: 0;
  }
}
.input--wrapper-error {
  border: 1px solid $red;
  background: #f7f3f3;
  .custom-radio-icon {
    background: #f7f3f3;
  }
}
.error--icon {
  color: $grey-dark-medium;
}

/*placeholders*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
  color: $grey-placeholder;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
  color: $grey-placeholder;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
  color: $grey-placeholder;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
  color: $grey-placeholder;
}


@media only screen and (max-width: 419px) and (min-width: 100px) { 
  .input--required {
      .error--icon {
          right: -20px;
          top: 5px;
      }
  }
}

@media only screen and (max-width: 819px) and (min-width: 420px) { 
  .input--required {
      .error--icon {
          right: -30px;
          top: 4px;
      }
  }
}