.project-app {
    header {
      height: 70px;
      background-image: linear-gradient(to bottom, #3f4f6a, #35435b, #2b374c, #212c3e, #182130);
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      padding: 0;
      text-align: left;
      img {
        margin: 13px 15px;
        width: 40px;
      }
      .menu-wrap {
        background: #2E8BC0;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        float: right;
        margin-top: 25px;
        margin-right: 12px;
        i {
            color: white;
            text-align: center;
            width: 100%;
            font-size: 28pt;
            margin-top: 13px;
        }
      }
    }
    main {
      background: #F9F9F9;
      padding-bottom: 4rem;
      position: relative;
      margin-top: 75px;
    }
  
    footer {
      position: relative;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }

    .salary-view {
      vertical-align: top;
      margin-top: 20px;
    }

    .payment-slip-main {
      background: white;
      padding: 25px;
    }
    
    .payment-slip-header {
      margin: 30px 0;
    }

    .payment-slip-pay {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    .payment-slip-list {
      position: relative;
      margin: 15px 0 0 0;
    }

    .payment-slip-list:after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 30%;
      border-bottom: 1px solid#bcbcbc;
    }

    .payment-slip-list-total {
      position: relative;
      margin: 28px 0 0 0;
      border-top: 2px solid black;
      padding: 10px 0 !important;
    }

    .payment-slip-list-total:after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 50%;
      border-bottom: 1px solid #bcbcbc;
      border-top: 1px solid #000;
    }

    .payment-slip-list-total:before {
      content: '';
      position: absolute;
      bottom: 0px;
      right: 0;
      width: 50%;
      border-bottom: 1px solid #bcbcbc;
      border-top: 1px solid #000;
    }
    
}