// Styles for All device excluding mobile
@media only screen and (min-width: 420px) and (max-width: 849px)  {
  body {
    width: 100%;
    margin: 0 auto;
  }
}

// Styles for All device excluding mobile
@media only screen and (min-width: 850px) {
  body {
    width: 420px;
    margin: 0 auto;
  }
} 