
html, body {
  height:100%;
}

body {
  background-color: $grey-light;
  font-family: $base-font;
  font-size: $base-font-size;
}

* {box-sizing: border-box;}

/* 
 * replacing the default blue from bootstrap
 */
a {
  color: $grey-darkest;
}

i {
  margin-right: 10px;
}

.clearfix:after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.col-md-override{
  width: 32%;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 10px;
}
input, textarea {
  border-style: none;
  border: 1px solid $grey-light;
  box-shadow: none;
  background-color: $white;
  border-radius: 4px;
}

textarea {
  padding-top: 10px;
}
main {
  background-color: $grey-light-medium;
  padding: 0;
  min-height:100%;
  width:100%;
  position: absolute;
  display: block;
  margin: 0;
  padding-bottom: 10rem;
  min-height: 100%;
}
a {
  &:focus {
    outline: 0 auto -webkit-focus-ring-color !important;
    outline-offset: 0; 
  }
  &:hover {
    cursor: pointer;
  }
}
.full-width {
  width: 100%;
  float: left;
}
.form-group {
  display: inline-block;
  width: 100%;
  margin-bottom: 25px;
}
.text-align-left{
  text-align: left !important;
}
.section-loader {
  padding: 0 40px;
}
.section-container {
  padding:25px 40px;
  width: 100%;
  float: left;
  .section-loader {
    margin: 0 -40px !important;
  }
}
.section-container-top {
  padding: 25px 40px 0 40px;
  width: 100%;
  float: left;
}
.section-container-horizontal {
  padding: 0 40px;
  width: 100%;
  float: left;
  .section-loader {
    margin: 0 -40px !important;
  }
}
.section-container-vertical {
  padding: 25px 0;
  width: 100%;
  float: left;
}

/*
 *  default widths
 */
.float-left{
  float: left;
}
.width-18-percent, .w-18 {
  width: 18%;
}
.width-20-percent, .w-20 {
  width: 20%;
}
.width-25-percent, .w-25 {
  width: 25%;
}
.width-30-percent, .w-30 {
  width: 30%;
}
.width-44-percent, .w-44 {
  width: 44%;
}
.width-48-percent, .w-48 {
  width: 48%;
}
.width-50-percent, .w-50 {
  width: 50%;
}
.width-56-percent, .w-56 {
  width: 56%;
}
.width-70-percent, .w-70 {
  width: 70%;
}
.width-82-percent, .w-82 {
  width: 82%;
}
.width-100-percent{
  width: 100%;
  display: block;
}
.w-100 {
  display: block;
}
/*
* Fixed with css classes
*/
.width-100, .width-1 {
  width: 100px;
}
.width-150 {
  width: 150px !important;
}
.width-200, .width-2 {
  width: 200px;
}
.width-220 {
  width: 220px;
}
.width-250 {
  width: 250px;
}
.width-300, .width-3 {
  width: 300px;
}
.width-350 {
  width: 350px;
}
.width-400, .width-4 {
  width: 400px;
}
.width-450 {
  width: 450px;
}
.width-500, .width-5 {
  width: 500px;
}
.width-600, .width-6 {
  width: 600px;
}
.width-700, .width-7 {
  width: 700px;
}
.width-800, .width-8 {
  width: 800px;
}
.width-900, .width-9 {
  width: 900px;
}
.width-1000, .width-10 {
  width: 1000px;
}
.width-1100, .width-11 {
  width: 1100px;
}
.width-1200, .width-12 {
  width: 1200px;
}
/*
 *  defining different margins
 */
.no-padding {
  padding: 0 !important; 
}
.no-padding-right{
  padding-right: 0 !important;
}
.grid-desc {
  padding: 5px 10px; 
}
.label-space {
  padding: 12px 15px; 
}
.padding-5 {
  padding: 5px; 
}
.padding-10 {
  padding: 10px; 
}
.padding-15 {
  padding: 15px; 
}
.padding-20 {
  padding: 20px; 
}
.padding-30 {
  padding: 30px; 
}
.padding-left-5 {
  padding-left: 5px; 
}
.padding-left-10 {
  padding-left: 10px; 
}
.padding-left-15 {
  padding-left: 15px; 
}
.padding-left-20 {
  padding-left: 20px; 
}
.padding-left-30 {
  padding-left: 30px; 
}
.padding-left-40 {
  padding-left: 40px; 
}
.padding-left-50 {
  padding-left: 50px; 
}
.padding-right-0 {
  padding-right: 0px; 
}
.padding-right-5 {
  padding-right: 5px; 
}
.padding-right-10 {
  padding-right: 10px; 
}
.padding-right-15 {
  padding-right: 15px; 
}
.padding-right-30 {
  padding-right: 30px; 
}
.padding-right-40 {
  padding-right: 40px; 
}
.padding-top-0 {
  padding-top: 0 !important;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-bottom-0 {
  padding-bottom: 0 !important;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-bottom-15 {
  padding-bottom: 20px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
.padding-top-bottom-0 {
  padding: 0 !important;
}
.padding-top-bottom-5 {
  padding: 5px 0;
}
.padding-top-bottom-10 {
  padding: 10px 0;
}
.padding-top-bottom-15 {
  padding: 15px 0;
}
.padding-top-bottom-20 {
  padding: 20px 0;
}

/*
 *  defining different margins
 */
.no-margin {
  margin: 0 !important; 
}
.margin-auto, .margin-center {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
.show-grid {
  margin-bottom: 15px; 
}
.margin-top-5 {
  margin-top: 5px; 
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-bottom-0{
  margin-bottom: 0px!important;
}
.margin-bottom-5 {
  margin-bottom: 5px; 
}
.margin-bottom-10 {
  margin-bottom: 10px; 
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-25 {
  margin-bottom: 25px; 
}
.margin-bottom-30 {
  margin-bottom: 30px; 
}
.margin-left-5 {
  margin-left: 5px; 
}
.margin-left-10 {
  margin-left: 10px; 
}
.margin-left-20 {
  margin-left: 20px; 
}
.margin-left-30 {
  margin-left: 30px; 
}
.margin-left-40 {
  margin-left: 40px; 
}
.margin-left-50 {
  margin-left: 50px; 
}
.margin-right-5 {
  margin-right: 5px; 
}
.margin-right-10 {
  margin-right: 10px; 
}
.margin-right-18 {
  margin-right: 18px; 
}

//creating background color 
 
.bg-gray {
  background: #e4e4e4; 
}
.bg-grey{
  background: #e4e4e4; 
}
.bg-grey-light {
  background-color: $grey-light-medium !important;
}
.bg-grey-light-medium {
  background-color: $grey-light-medium !important;
}
.bg-gray-medium {
  background-color: $grey-checkbox-container!important;
}
.bg-color-grey {
  background-color: #aaa; 
}
.bg-grey-mid{
  background-color: $grey-mid-background;
}
.bg-yellow {
  background-color: $yellow !important;
}
.bg-yellow-medium {
  background-color: $yellow-medium !important;
}
.bg-green {
  background-color: $green !important;
}
.bg-green-medium {
  background-color: $green-medium !important;
}
.bg-sky {
  background: #95d3f3; 
}
.bg-red {
  background: $red; 
}
.bg-blue {
  background: $blue; 
}
.bg-blue-medium {
  background: $blue-medium; 
}

/*
 * section border
 */
.section-border-top{
  border-top: 1px solid #C0C0C0;
}
.section-border-bottom{
  border-bottom: 1px solid #C0C0C0;
}
.section-full-width{
  margin: 0 0px 0 -30px !important;
  padding: 25px 0px 0 40px !important;
}
input:disabled{
  background-color: #e4e4e4 !important;
  color: #bbbbbb;
}
.disabled-background{
  background-color: #e4e4e4 !important;
}
.btn--oval:focus{
  outline:none !important;
}
.vertical-align-top{
  vertical-align: top;
}

/*
 * Loader class
 */
.loader-center {
  width: 100%;
  display: inline-flex;
  margin: 0 auto;
 }

 /**
  * margin center responsive width
  */
.margin-center {
  margin: 0 auto;
  display: block;
}
.margin-center-3 {
  margin: 0 auto;
  display: block;
  max-width: 30%;
}


/**
 * Display view
 */
.display-block {
  display: block !important;
}
.display-inline-block {
  display: inline-block !important;
}