header {
  position: relative;
  top: 0;
  left: 0;
  background: $grey-light;
  width: 100%;
  padding: 22px 0;
  color: #FFF;
  z-index: 10;
  overflow: visible;
  text-align: center;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}

header img {
  max-width: 100%;
}