
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Hind', sans-serif;
  font-weight: 100;
  padding: 0;
  color: $grey-dark-medium;
}
p {
  font-family: 'Hind', sans-serif;
}
h1{
  font-size: 25px;
}
h2{
  font-size: 18px;
  color: $grey-lightest;
}
.text-bold {
  font-weight: 700 !important;
}
.text-uppercase {
  text-transform: uppercase;
}

.text-regular {
  font-style: normal;
  font-family: 'Hind', sans-serif;
  font-weight: normal;
}
/**
 *
 * Text Color classes
 *
 */
.text-grey-lightest {
  color: $grey-lightest !important;
}
.text-grey-dark-medium {
  color: $grey-dark-medium;
}
.text-success {
  color : $green
}
.text-red-light {
  color : $red-light
}
.text-link {
  color : $blue
}
.text-green {
  color : $green
}
.text-green-medium {
  color : $green-medium
}
.text-blue {
  color : $blue
}
.text-blue-medium {
  color : $blue
}
.text-red {
  color : $red
}
.text-yellow-medium {
  color : $yellow-medium
}
.text-white {
  color: $white !important;
}
/**
 *
 * Text size classes
 *
 */
.text-xl {
  font-size: 20px !important;
}
.text-md {
  font-size: 18px;
}
.text-sm {
  font-size: 16px;
}
.text-x-sm {
  font-size: 14px;
}
