// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$base-font-size: 16px;
$base-sm-font-size: 14px;
$base-lg-font-size: 18px;
$base-line-height: 1.4;
$base-font: 'Hind', sans-serif;
$base-color: #000;

// COLORS
$orange: #f29220;
$white: #ffffff;
$black: $base-color;
$gains-boro: #eff0eb;
$yellow: #E6A800;
//-- color gray
$grey-light: #F5F5F5;
$grey-light-medium: #E8E8E8;
$grey-dark: #C9C9C9;
$grey-dark-medium: #535353;
$grey-lightest: #828282;
$grey-darkest: #656565;
$grey-dark-strong: #A4A4A4;
$grey-input-text-border: #D7D7D7;
$grey-tab-border: #C9C9C9;
$grey-placeholder: #B1B1B1;
$grey-checkbox-container: #ECECEC;
$grey-mid-background: #E1E1E1;
//-- color blue
$blue: #2E8BC0;
$blue-light: #5EA6CF;
$blue-dark: #145DA0;
$blue-medium: #2E8BC0;
$blue-sky-medium: #5E98CE;
//-- color green
$green: #91bc3b;
$green-dark: #78C282;
$green-light: #8BF6AF;
$green-medium: #55B76F;
$green-x-light:#E3FFDF;
//-- color yellow
$yellow-medium: #E8A043;
//-- color red
$red: #C9233F;
$red-light: #ffc5cb;